
* {
   
   margin: 0;
   padding: 0;
}
a {
   text-decoration: none;
   color: #fff;
}
body {
   font-family: "Montserrat", sans-serif;
}
.center {
   padding-left: 120px;
   padding-right: 120px;
}
.header {
   padding-left: 120px;
   background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000915 100%), url(img/backgraund-big.jpg), lightgray 50% / cover no-repeat;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 32px;
   
}  
.header__logo {
   width: 788.778px;
   height: 125.007px;
   font-size: 64px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   color: #fff;
   padding-top: 217px;
}
.header__text {
   width: 481px;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 32px;
   color: #fff;
   line-height: 32px;
   margin-bottom: 12px;
}
.header__button {
   width: 234.063px;
   height: 48.603px;
   border-radius: 30px;
   border-color: #9C0332;
   background: #9C0332;
   margin-bottom: 494px;
   color: #FFF;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}
.header__button:hover {
   border-color: #EB443F;
   background: #EB443F;
}
.games {
   background: #000915;
   display: flex;
   column-gap: 32px;
   padding-top: 128px;
   padding-bottom: 128px;
}
.games__item {
   width: 379px;
   height: 300px;
   color: #FFF;
   font-size: 24px;
   font-style: normal;
   font-weight: 600;
   line-height: 32px; 
   box-sizing: border-box;
   padding-left: 32px;
   padding-bottom: 32px;
   display: flex;
   align-items: end;
   justify-content: flex-start;
}
.item1 {
   border-radius: 16px;
   background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(img/backgraund-mini1.jpg), lightgray 50% / cover no-repeat;
   background-repeat: no-repeat;
}
.item1:hover {
   outline: 3px solid #44D2FF;
}
.item2 {
   border-radius: 16px;
   background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(img/backgraund-mini2.jpg), lightgray 50% / cover no-repeat;
   background-repeat: no-repeat;   
}
.item2:hover {
   outline: 3px solid #44D2FF;
}
.item3 {
   border-radius: 16px;
   background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(img/backgraund-mini3.jpg), lightgray 50% / cover no-repeat;
   background-repeat: no-repeat;
}
.item3:hover {
   outline: 3px solid #44D2FF;
}
.gameOne__content{
   background: #000915;
   padding-top: 282px;
   
   display: flex;
   flex-direction: row;
   gap: 135px;
}
.gameOne {
   display: flex;
   flex-direction: column;
   gap: 32px;
}  
.gameOne__logo {
   color: #FFF;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}
.gameOne__text {
   width: 584px;
   color: #FFF;   
   font-size: 18px;
   font-style: normal;
   font-weight: 300;
   line-height: 32px; /* 177.778% */
}
.gameOne__button {
   width: 234.063px;
   height: 48.603px;
   border-radius: 30px;
   border-color: #9C0332;
   background: #9C0332;
   color: #FFF;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}
.gameOne__button:hover {
   border-color: #EB443F;
   background: #EB443F;
}
.gameOne__img {
   width: 485px;
   height: 333px;
   margin-top: -50px;
   margin-right: -4px;
   padding-bottom: 233px;
  
}
.gametwo__content{
   background: #000915;
   padding-top: 282px;
   
   display: flex;
   flex-direction: row;
   gap: 135px;
}
.gametwo__img {
   width: 481px;
   height: 322px;
   padding-bottom: 233px;
  
}
.gametwo {
   display: flex;
   flex-direction: column;
   gap: 32px;
   padding-right: -4px;
}  
.gametwo__logo {
   color: #FFF;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}
.gametwo__text {
   width: 588px;
   color: #FFF;   
   font-size: 18px;
   font-style: normal;
   font-weight: 300;
   line-height: 32px; /* 177.778% */
}
.gametwo__button {
   width: 234.063px;
   height: 48.603px;
   border-radius: 30px;
   border-color: #9C0332;
   background: #9C0332;
   color: #FFF;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}
.gametwo__button:hover {
   border-color: #EB443F;
   background: #EB443F;
}

/* мобильная версия*/

@media (max-width: 375px) {
   .center {
      padding-left: 16px;
      padding-right: 16px;
   }
   .header {
      display: flex;
      align-items: center;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000915 100%), url(img/backgraund-big-mobile.jpg), lightgray 50% / cover no-repeat;
   }
   .header__logo {
      width: 343px;
      text-align: center;
      font-size: 32px;
      padding-top: 239px;
   }
   .header__text {
      width: 343px;
      color: #FFF;
      text-align: center;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      margin-bottom: 0;
   }
   .header__button {
      margin-bottom: 238px;
      box-sizing: border-box;
   }
   .games {
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
      gap: 32px;
   }
   .games__item {
      width: 343px;
   }
      /* игровое поле*/

   .gameOne__content{
      padding-top: 51px;
      flex-direction: column;
   }
   .gameOne {
      align-items: center;
      text-align: center;
   }  
   .gameOne__logo {
      font-size: 32px;
   }
   .gameOne__text {
      width: 343px;
      font-size: 14px;
      line-height: 22px;
   }
   .gameOne__img {
      padding-bottom: 85px;
      width: 344px;
      height: 236px;
   }

   .video_game-img {
      width: 344px;
      height: 236px;
   }

   .gametwo__content{
      padding-top: 51px;
      flex-direction: column-reverse;
      gap: 64px;
   }
   .gametwo__img {
      width: 344px;
      height: 90px;
   }
   .gametwo {
      align-items: center;
      text-align: center;
   }  
   .gametwo__logo {
      font-size: 32px;
   }
   .gametwo__text {
      width: 343px;
      font-size: 14px;
      line-height: 22px;
   }
}